/////////////////////////////////////////////////////////////
//--(BASE)-------------------------------------------//
///////////////////////////////////////////////////////////*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong { font-weight: var(--fw-bold); }

/*html {
  //This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px
  
  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75% 
  }
}*/