/////////////////////////////////////////////////////////////
//--(PORTFOLIO-ITEM)--------------------------------------//
///////////////////////////////////////////////////////////
.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
  
  & > p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  & a {
    color: var(--clr-accent);
    text-decoration: none;
  }
  
  & > img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid var(--clr-accent);
    transition: all .5s;

    &:hover {
      transform: scale(1.01);
    }
  }
}
