/////////////////////////////////////////////////////////////
//--(BUTTONS)--------------------------------------//
///////////////////////////////////////////////////////////
.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}