/////////////////////////////////////////////////////////////
//--(FOOTER)----------------------------------------------//
///////////////////////////////////////////////////////////
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
  
  & a { 
    color: inherit;
    text-decoration: none;
  }
  
  &__link {
    font-weight: var(--fw-bold);

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
  
  &__item {
    margin: 0 .5em;
  }
  
  &__link {
    padding: .5em;
  }
}
