/////////////////////////////////////////////////////////////
//--(HEADER)----------------------------------------------//
///////////////////////////////////////////////////////////
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  a {
    text-decoration: none;
  }
  
  &__p {
    margin: 0;
    font-family: var(--ff-secondary);
    color: var(--clr-dark);
  }
}
