/////////////////////////////////////////////////////////////
//--(HEADER)----------------------------------------------//
///////////////////////////////////////////////////////////
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}
